.page-gallery .section-gallery {
  margin: 250px 0 100px; }
  .page-gallery .section-gallery_inner #lightgallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center; }
    .page-gallery .section-gallery_inner #lightgallery .lg-item {
      width: 100%; }
      .page-gallery .section-gallery_inner #lightgallery .lg-item img {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease; }
        .page-gallery .section-gallery_inner #lightgallery .lg-item img:hover {
          cursor: pointer;
          transform: scale(1.05); }
