@model OnlineBank.Data.ViewModel.ClientViewModel
@{
    Layout = "_Layout";
}
<div class="boxed_wrapper ltr">
  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Введите свои данные</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Имя</label>
                                    <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите имя">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Фамилия</label>
                                    <input asp-for="Surname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Введите фамилию">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Дата рождения</label>
                                    <input asp-for="BirthDay" type="date" class="form-control" id="exampleInputPassword1" placeholder="Введите дату рождения">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Адрес</label>
                                    <input asp-for="Address" type="text" class="form-control" id="exampleInputPassword1" placeholder="Введите адрес">
                                </div>
                                              
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Телефон</label>
                                    <input asp-for="Phone" type="text" class="form-control" id="exampleInputPassword1" placeholder="Введите номер телефона">
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>