@model OnlineBank.Data.ViewModels.ProfileViewModel
@{
    Layout = "_ProfileLayout";
}
@section ClientName
{
    <a href="@Url.Action("Profile","User")" class="d-block">@Model.Surname @Model.Name</a>
}
